<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fast Food</title>
</head>

<body id='cont' class="blov" display='none'>
    <link rel="stylesheet" href="{% static "style.css" %}">
    <div class="container">
        <form class="forma">
            {% for i in food %}
            <div class="item">
                <img src="{{i.rasm.url}}" alt="{{i.nomi}}">
                <div>
                    <h2>{{i.nomi}} • {{i.narxi}} uzs</h2>
                    <div class="quantity-control">
                        <button class="decrement" onclick="updateQuantity(event, this, -1)">-</button>
                        <span class="count" name="{{i.rand}}--0">0</span>
                        <button class="increment" onclick="updateQuantity(event, this, 1)">+</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </form>
    </div>
    <div class="submit-container">
        <input id='send-food' type="submit" class="submit" value="Добавить в корзину" onclick="submitOrder()">
        <a href="/ru/products" class="uyt onsubmit submit" style="text-decoration: none;">Добавлено в корзину, Просмотр</a>
    </div>
    <script src="{%static "script.js" %}"></script>
</body>

</html>